<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="https://kit.fontawesome.com/4f32920e14.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="fav-body">
    <div class="navbar">
        <ul>
            <li class="home"><a href="/home">Home</a></li>
            <li class="share"><a href="/share">Share your recipes</a></li>
            <li class="active"><a href="/favourite">Favourite recipes <i class="fa-solid fa-star"></i></a></li>
            <li class="grocery"><a href="/grocery">Grocery list</a></li>
            <li class="login"><a href="/login">Login</a></li>
        </ul>
    </div>

    <div class="favmain">
        <% if (favpost && favpost.length > 0) { %>
            <% favpost.forEach(favpost => { %>
                <li class="eachpost">
                    <a href="/recipe/<%= favpost.id %>">
                        <h2><%= favpost.title %></h2>
                        <% if(favpost.image != ''){ %>
                            <img src="<%= favpost.image %>">
                        <% } %>
                    </a>
                    <form action="/addcart" method="POST">
                        <input type="hidden" name="title" value="<%= favpost.title %>">
                        <input type="hidden" name="ingredients" value="<%= favpost.ingredients %>">
                        <button type="submit" title="Add to cart" class="btncart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </form>
                    <form action="removefav" method="POST">
                        <input type="hidden" name="favId" value="<%= favpost.id %>">
                        <button type="submit" title="remove from favourites"><i class="fa-regular fa-star"></i></button>
                    </form>
                </li>
            <% }); %>
        <% } else { %>
            <p>You don't have any favourite recepies! <a href="/home">Go find some</a></p>
        <% } %>
    </div>
</body>
</html>