<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="https://kit.fontawesome.com/4f32920e14.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="/home">Home</a></li>
            <li><a class="share" href="/share">Share your recepies</a></li>
            <li><a class="favourite" href="/favourite">Favourite recepies *</a></li>
            <li><a class="grocery" href="/grocery">Grocery list</a></li>
            <li><a class="login" href="/login">Login</a></li>
        </ul>
    </div>

    <div class="welcome">
        <h1>Welcome</h1>
        <h4>Text about the site</h4>
        <i class="fa-solid fa-angle-down"></i>
    </div>

    <div class="home_main">
        <h3>Top recepies:</h3>

        <div class="post">
            <li class="eachpost">
                <% data.forEach(function (post) { %>
                    <a href="/recipe/<%= post.id %>">
                        <%= post.text1 %>
                        <% if(post.text3 != ''){ %>
                            <img src="<%= post.text3 %>">
                        <% } %>
                    </a>
                <form action="/addcart" method="POST">
                    <input type="hidden" name="ingredients" value="<%= post.ingredients %>">
                    <button type="submit">Add to cart</button>
                </form>
                <form action="addfav" method="POST">
                    <input type="hidden" name="favId" value="<%= post.id %>">
                    <button type="submit">Add to favourites</button>
                </form>
                <% }) %>
            </li>
        </div>
    </div>

</body>
</html>