<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.text1 %></title>
</head>
<body>
    <h1><%= recipe.text1 %></h1>
    <div class="imgContainer">
        <img src="<%= recipe.text3 %>">
    </div>

    
    <div>
        <h4><%=recipe.ingredients%></h4>
    </div>


    <div class="instructionsContainer">
        <p><%= recipe.instructions %></p>
    </div>
</body>
</html>